<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="myHeader">
    <head>
        <title> YelpCamp </title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" th:href="@{~/css/style.css}">

        <nav id="navBar" class="navbar navbar-expand-lg navbar navbar-dark">
<!--            <a class="navbar-brand" th:href="@{/home}"></a>-->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link" th:href="@{/home}">Home</a>
                    <a class="nav-link" th:href="@{/add}">Add Team</a>
                    <a class="nav-link" th:href="@{/editList}">Edit Team</a>
                    <a class="nav-link" th:href="@{/deleteList}">Delete Team</a>
                    <a class="nav-link" th:href="@{/displayResults}">Display Results</a>
                </div>
            </div>
        </nav>

    </head>
    <body>

    <div class="overlay"></div>


    <!--    <nav>-->
<!--        <div class="container-fluid">-->
<!--            <div class="navbar-header">-->
<!--                <a href="/" class="navbar-brand">FIFA World Cup</a>-->
<!--            </div>-->
<!--            <div class="collapse navbar-collapse navbar-right">-->
<!--                <ul class="nav navbar-nav">-->
<!--                    <li><a th:href="@{/home}">Home</a></li>-->
<!--                    <li><a th:href="@{/add}">Add Team</a></li>-->
<!--                    <li><a th:href="@{/editList}">Edit Team</a></li>-->
<!--                    <li><a th:href="@{/deleteList}">Delete Team</a></li>-->
<!--                    <li><a th:href="@{/displayResults}">Display Results</a></li>-->
<!--                </ul>-->
<!--            </div>-->
<!--        </div>-->
<!--    </nav>-->
    </body>
</div>
</html>