
html{
    font-family: Poppins, sans-serif;
    background: #2f2f2f url("../images/bg2.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {

}


/* Common CSS */

table, th, td {
    border: 1px solid black;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
}

header div.hero {
    position: absolute;
    width: 42%;
    top: 130px;
    margin-left: 15%;
}

header div.hero h1 {
    line-height: 1em;
    margin: 0 0 30px 0;
    color: white;
    font-size: 4em;
}

.containerWide{
    background: #f7f7f7;
    width: 70%;
    margin-right: 15%;
    margin-left: 15%;
    margin-top: 8%;
    box-shadow: 0 0 3px rgb(0, 0, 0, 0.4);
    padding: 35px 40px;
    border-radius: 30px;
    position: absolute;
}

.containerNarrow{
    background: #f7f7f7;
    width: 45%;
    margin-left: 27%;
    margin-right: 27%;
    margin-top: 4%;
    margin-bottom: 69px;
    position: absolute;
    box-shadow: 0 0 3px rgb(0, 0, 0, 0.4);
    padding: 25px 30px;
    border-radius: 30px;
}

.boxTitle{
    text-align: center;
}


/* Home Page */

/*header {*/
/*    height: 800px;*/
/*    background-size: cover;*/
/*    background: #cf0004 url("../images/fifa_18.jpg") no-repeat center top;*/
/*    position: relative;*/
/*}*/

.overlay {
    postition: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 0.665703781512605) 0%, rgba(9, 9, 121, 0.6965161064425771) 35%, rgba(0, 212, 255, 0.6741071428571428) 100%);
}

.overlay2{
    postition: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,0.8897934173669468) 0%, rgba(56,56,56,0.8365721288515406) 45%, rgba(0,0,0,0.8561799719887955) 100%);
}


/* Add Page */

.bg2{
    background: #cf0004 url("../images/bg2.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
