<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">-->
<!--    <link rel="stylesheet" th:href="@{css/style.css}">-->
    <div th:replace="partials/header::myHeader"></div>
</head>
<body>
<h1>List of all Students:</h1>

<!--<table>-->
<!--    <tr><th>ID</th><th>NAME</th></tr>-->
<!--    <th:block th:each="s:${records}">-->
<!--        <tr><td th:text="${s.id}"></td>-->
<!--            <td th:text="${s.name}"></td>-->
<!--        </tr>-->

<!--    </th:block>-->

<!--</table>-->

<div class="container">
    <p class="Title">Add New Record:</p>
    <div class="row">
        <form th:action="@{/addRecord}" th:object="${record}" method="POST">
            <div class="form-group">
                <input class="form-control" type="hidden" th:field="*{id}">
            </div>
            <div class="form-group">
                <h4>Country:</h4>
                <input class="form-control" th:field="*{country}">
            </div><div class="form-group">
            <h4>Games Played:</h4>
            <input class="form-control" th:field="*{continent}">
        </div>
            <div class="form-group">
                <h4>Games Played:</h4>
                <input class="form-control" th:field="*{gamesPlayed}">
            </div>
            <div class="form-group">
                <h4>Games Played:</h4>
                <input class="form-control" th:field="*{gamesWon}">
            </div>
            <div class="form-group">
                <h4>Games Played:</h4>
                <input class="form-control" th:field="*{gamesDrawn}">
            </div>
            <div class="form-group">
                <h4>Games Played:</h4>
                <input class="form-control" th:field="*{gamesLost}">
            </div>

            <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block">Submit!</button>
            </div>
        </form>
    </div>
</div>


<!--<div>-->
<!--    <form method="post"  th:action="@{/addRecord}" th:object="${record}">-->

<!--        <input type="hidden" th:field="*{id}">-->
<!--        <input type="text"  th:field="*{name}"><br>-->
<!--        <input type="submit" value="Add Record">-->

<!--    </form>-->

<!--</div>-->

</body>
</html>