<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">-->
    <!--        <link rel="stylesheet" th:href="@{css/style.css}">-->
    <div th:replace="partials/header::myHeader"></div>
</head>
<body>

<div class="bg2">
    <div class="overlay2">
        <div class="containerWide">
            <h3 class="boxTitle">List of all Teams:</h3>
            <table>
                <tr><th>ID</th><th>Country</th><th>Continent</th><th>Games Played</th><th>Games Won</th><th>Games Drawn</th><th>Games Won</th></tr>
                <th:block th:each="s:${records}">
                    <tr><td th:text="${s.id}"></td>
                        <td th:text="${s.country}"></td>
                        <td th:text="${s.continent}"></td>
                        <td th:text="${s.gamesPlayed}"></td>
                        <td th:text="${s.gamesWon}"></td>
                        <td th:text="${s.gamesDrawn}"></td>
                        <td th:text="${s.gamesLost}"></td>
                        <td><a th:href="@{'deleteRecordById/' + ${s.id}}">Delete</a></td>
                    </tr>

                </th:block>

            </table>
        </div>
    </div>
</div>

</body>
</html>