<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
    <div th:replace="partials/header::myHeader"></div>
</head>
<body class="addPageBg">

    <div class="containerNarrow">
        <h3 class="boxTitle">Edit Team:</h3>
        <div class>
            <form th:action="@{/modifyRecord}" th:object="${team}" method="POST">
                <div class="form-group">
                    <input class="form-control" type="hidden" th:field="*{id}">
                </div>

                <div class="form-group">
                    <h6>Country:</h6>
                    <input class="form-control" th:field="*{country}">
                </div>

                <div class="form-group">
                    <h6>Continent:</h6>
                    <select class="form-control" th:field="*{continent}">
                        <th:block th:each="c : ${continents}">
                            <option th:value="${c}" th:text="${c}">Continent</option>
                        </th:block>
                    </select>
                </div>

                <div class="form-group">
                    <h6>Games Played:</h6>
                    <input type="number" step="1" class="form-control" th:field="*{gamesPlayed}">
                </div>

                <div class="form-group">
                    <h6>Games Won:</h6>
                    <input type="number" step="1" class="form-control" th:field="*{gamesWon}">
                </div>

                <div class="form-group">
                    <h6>Games Drawn:</h6>
                    <input type="number" step="1" class="form-control" th:field="*{gamesDrawn}">
                </div>

                <div class="form-group">
                    <h6>Games Lost:</h6>
                    <input type="number" step="1" class="form-control" th:field="*{gamesLost}">
                </div>

                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Update!</button>
                </div>
            </form>
        </div>
    </div>
    <footer th:replace="partials/footer::footer"></footer>
</body>
</html>