<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<!--        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">-->
<!--        <link rel="stylesheet" th:href="@{css/style.css}">-->
        <div th:replace="partials/header::myHeader"></div>
</head>
<body class="addPageBg">

    <div class="containerNarrow">
        <h3 class="boxTitle">Edit Team:</h3>
        <div class="row">
            <form th:action="@{/modifyRecord}" th:object="${record}" method="POST">
                <div class="form-group">
                    <input class="form-control" type="hidden" th:field="*{id}">
                </div>
                <div class="form-group">
                    <h4>Country:</h4>
                    <input class="form-control" th:field="*{country}">
                </div><div class="form-group">
                <h4>Continent:</h4>
                <input class="form-control" th:field="*{continent}">
            </div>
                <div class="form-group">
                    <h4>Games Played:</h4>
                    <input class="form-control" th:field="*{gamesPlayed}">
                </div>
                <div class="form-group">
                    <h4>Games Won:</h4>
                    <input class="form-control" th:field="*{gamesWon}">
                </div>
                <div class="form-group">
                    <h4>Games Drawn:</h4>
                    <input class="form-control" th:field="*{gamesDrawn}">
                </div>
                <div class="form-group">
                    <h4>Games Lost:</h4>
                    <input class="form-control" th:field="*{gamesLost}">
                </div>

                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Update!</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>