<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div th:replace="partials/header::myHeader"></div>

</head>
<body class="homeBg">
            <div class="homeTitle">
                <div class="logo homeTitle"><img th:src="@{~/images/logo.png}"></div>
                <a th:href="@{/displayResults}" class="homePgBtn">Display Results</a>
            </div>
</div>
<footer th:replace="partials/footer::footer"></footer>
</body>
</html>