<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div th:replace="partials/header::myHeader"></div>

</head>
<body class="homeBg">
<!--    <header>-->
<!--        <div class="overlay">-->
            <div class="homeTitle">
                <div class="logo homeTitle"><img th:src="@{~/images/logo.png}"></div>
<!--                <h1>FIFA 2018</h1>-->
                <a th:href="@{/displayResults}" class="homePgBtn">Display Results</a>
            </div>
<!--        </div>-->
<!--    </header>-->

</div>
<footer th:replace="partials/footer::footer"></footer>
</body>
</html>