<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div th:replace="partials/header::myHeader"></div>

</head>
<body class="homeBg">

<div id="page">

    <header>
        <div class="overlay">
            <div class="hero">
                <h1>Add interest with textures</h1>
                <a href="#" class="btn" title="Get advice from top designers">Get advice from top designers</a>
            </div>
        </div>
    </header>

</div>

</body>
</html>